/.bashrc
/.gitconfig

*.DS_Store
/.CFUserTextEncoding
/.Trash
/.account
/.adobe
/.barometer
/.bash_history
/.bash_profile
/.bi_li3
/.bundle
/.cache
/.certs
/.clickatell
/.config
/.crfd.rdt
/.cups
/.dropbox
/.dvdcss
/.erlang.cookie
/.fontconfig
/.fonts
/.gem
/.heroku
/.irb-history
/.irb_history
/.lesshst
/.mysql_history
/.oh-my-zsh
/.passenger
/.poweragent
/.profile
/.psql_history
/.python-eggs
/.ri
/.rnd
/.rspec
/.rubyforge
/.rvm
/.shsh
/.sh_history
/.sqlite_history
/.ssh
/.ssl
/.subversion
/.testb
/.vegas
/.vim-tmp
/.vim/.netrwhist
/.vim-fuf-data
/.vimfuzzyfinder
/.viminfo
/.vimprojects
/.vimrc.backup
/.vimrc.local
/.vimrc.old
/.xbmc
/.zcompdump
/.zsh-update
/.zsh_history
/.Xauthority
/.Xcode
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/Sites
/Torrents
/bin/rvm
/bin/rvm-auto-ruby
/bin/rvm-exec
/bin/rvm-installer
/bin/rvm-prompt
/bin/rvm-shell
/bin/rvmsudo
/code
/corps
/share/man
/src
/var
/work
/system.gems

*~
*.orig
*.swp
